.panel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.panel-info {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    color: #D3BFFD;
}

.user-message {
    background-color: rgba(73, 34, 101, 0.3);
    color: #D3BFFD;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.ai-message {
    background-color: rgba(127, 60, 175, 0.3);
    color: #D3BFFD;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}